@import url("https://fonts.googleapis.com/css2?family=Yrsa&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/banner_2.css");

@import url("components/style_card_Aboutus.css");


@import url("components/photo_Aboutus.css");
@import url("components/button_Aboutus.css");
@import url("components/banner_Aboutus.css");
@import url("components/photo_profile_Aboutus.css");@import url("components/title_likes.css");
@import url("components/Cards_Likes.css");
@import url("components/title_blog.css");
@import url("components/text_blog.css");
@import url("components/pages.css");

body {
  background-color: #000000;
  font-family: 'yrsa', serif;
  font-size: 18px;
  color: white;
}
h1, h2, h3 {
  background-color: #000000;
  font-family: 'yrsa', serif;
  font-weight: bold;
  color: white;
}
a {
  background-color: #000000;
  text-decoration: none;
}
