.card {

	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 6px;
	line-height: 13px;
	


}

.card img {

	width: 60px;
	height: 60px;
	border-radius: 50%;



}

.card a{

	margin: 10px 20px;
	color: white;
	font-size: 18px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .card img {
    width: 60px;
    height: 60px;
  }
  .card a{

	margin: 10px 20px;
	color: white;
	font-size: 18px;
}
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .card img {
    width: 40px;
    height: 40px;
  }
  .card a{

	margin: 10px 10px;
	color: white;
	font-size: 12px;
}
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .card img {
    width: 10px;
    height: 10px;

  }
  .card a{

	margin: 10px 5px;
	color: white;
	font-size: 10px;
}
}


